html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow:hidden;
}

body {
	font-family: arial;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

#container {
	background: red;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

#button0, #button1 {
	width: 100%;
	height: 50%;
	color: white;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

#button0 {
	background: blue;
}

#button1 {
	background: green;
}

#button0 .result {
	bottom: 0;
}

#border {
	width: 100%;
	height: 3px;
	background: white;
}

.result {
	position: absolute;
	width: 100%;
	font-size: 30px;
	padding: 5px;
	text-align: center;
	background: black;
	color: white;
}

.result .text {
	margin-left: -30px;
}

.ball {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
	background-color: #fada5e;
	-webkit-mask-image: url('ball.svg');
	mask-image: url('ball.svg');
}

.game {
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	margin-right: -50%;
}

#button0 .game {
	top: 25%;
	transform: translate(-50%, -25%);
}

#button1 .game {
	bottom: 25%;
	transform: translate(-50%, 25%);
}

.digit {
	width: 25px;
	display: inline-block;
	text-align: left;
}

.match {
	font-weight: bold;
}

sub {
	font-size: x-small;
}

#back, #reset {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	padding: 8px 5px 0 5px;
	top: 50%;
	margin-top: -17px;
	background: black;
	color: white;
	border-radius: 15px;
	border-color: white;
	border-style: solid;
	height: 25px;
	width: 20px;
}

#back {
	right: 20px;	
}

#reset {
	left: 20px;
}
